/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #E6E9F3;
  font-family: 'ubuntu';
}

.form{
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  margin: 50px auto;
  padding: 20px 10px 40px 10px;
  border-radius: 2px;
  max-width: 500px;
  box-shadow: 4px 4px 14px 4px gray;
}


/* .form input{
  padding: 10px;
  outline: none;
  margin: 12px auto;
  display: block;
  width: calc(100% - 120px);
  border-radius: 3px;
  border: 2px solid gray;
  max-width: 400px;
} */

.form .input-field{
  outline: none;
  margin: 12px auto;
  display: block;
  max-width: 400px;
}

.form .input-field input{
  padding: 10px;
  outline: none;
  width: calc(100% - 24px);
  border-radius: 3px;
  border: 2px solid gray;
}

.form .error{
  color: red;
  font-size: 13px;
  margin:4px;
  text-align: left;
  display: none;
}

.form input:invalid{
    border: 1px solid red;
}

.form #review-link{
  padding: 12px 10px;
  outline: none;
  margin: 12px auto;
  display: block;
  width: calc(100% - 120px);
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid gray;
  background-color: rgb(247, 247, 247);
} 

.form #btn-register{
  background-color: rgb(189, 189, 189);
  margin-top: 30px;
  border: none;
  padding: 14px;
  width: 80%;
  font-weight: bold;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.3);
}
.form #btn-register:hover{
    cursor: pointer;    
    background-color: rgb(208, 208, 208);
}

/* Optional: Makes the sample page fill the window. */
/* FOR GOOGLE MAP */
#map {
  height: 50%;
  margin: 50px auto;
  max-width: 500px;
}

#pac-input{
  padding: 18px 8px;
  margin: 0;
  outline: none;
  display: block;
  width: calc(100% );
  border-radius: 2px;
  border: 2px solid gray;
  box-shadow: none;
}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}

.title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline-block;
}

